:root {
  --primaryColor: #343a40;
  --secondaryColor: #46494c;
  --tertiaryColor: #dcdcdd;
  --quaternaryColor: #14213d;
  --quinaryColor: #5c469c;
  --senaryColor: #9ba4b5;

  --scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Montserrat", "Serif";
  color: var(--tertiaryColor);
}

html {
  scroll-behavior: smooth;
}

section #resultsWrapper {
  padding: 5em;
}

#resultWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 1.5fr 0.5fr 1.5fr;
  row-gap: 2em;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Avatar Avatar Avatar Avatar Avatar"
    "Album-Section-Title Album-Section-Title Album-Section-Title Album-Section-Title Album-Section-Title"
    "Albums Albums Albums Albums Albums"
    "Singles-Section-Title Singles-Section-Title Singles-Section-Title Singles-Section-Title Singles-Section-Title"
    "Singles Singles Singles Singles Singles";
  text-align: center;
  background-color: transparent;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  margin-top: -300px;
}

#Avatar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: " . ";
  grid-area: Avatar;
  justify-items: center;
}

#Album-Section-Title {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ".";
  grid-area: Album-Section-Title;
  color: var(--tertiaryColor);
  font-size: 24px;
  font-weight: bold;
  padding-top: 3em;
}

#Albums {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.5fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . ."
    ". . . . .";
  grid-area: Albums;
}

#Singles-Section-Title {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". ";
  grid-area: Singles-Section-Title;
  color: var(--tertiaryColor);
  font-size: 24px;
  font-weight: bold;
  padding-top: 3em;
}

.extrahidden {
  opacity: 0;
}

#Singles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.5fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . ."
    ". . . . .";
  grid-area: Singles;
}

#resultWrapper h4 {
  font-family: "Montserrat";
  color: var(--tertiaryColor);
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 25px;
  margin-right: 25px;
}

#resultWrapper p {
  font-family: "Prompt";
  color: var(--tertiaryColor);
  font-size: 20px;
  font-weight: bold;
}

#artist_avatar {
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
  border: 2px solid var(--tertiaryColor);
  margin: 1em;
}

#resultWrapper img {
  max-width: 200px;
  max-height: 200px;
}

/* SCROLL BUTTON */

#btnScrollToTop {
  position: fixed;
  left: 96.5%;
  top: 94%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000000;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); */
  color: #dcdcdd;
  outline: none;
  cursor: pointer;
}

.material-icons {
  margin-top: 2px;
  background-color: var(--secondaryBG);
}

#btnScrollToTop:active {
  background-color: var(--primaryColor);
  color: white;
}

.hidden {
  display: none;
}

/* HEADER */

header nav {
  position: sticky;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: black;
  height: 4rem;
  justify-content: flex-end;
  z-index: 0;
  background-color: transparent;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid var(--tertiaryColor);
}

header nav ul {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

header nav ul a {
  text-decoration: none;
  color: var(--tertiaryColor);
  transition: 0.5s;
}

header nav ul a:hover {
  color: var(--quinaryColor);
  transition: 0.5s;
}

header nav ul a:active {
  background-color: var(--quaternaryColor);
  padding: 0.5rem;
  border-radius: 10px;
  transition: 0.2s;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #000000;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

/* MAIN */

h1 {
  font-size: 3rem;
}

#backgroundVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

body {
  font-family: "Prompt", "sans-serif";
}

#home {
  min-height: 90svh;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 0;
}

#searchBox {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#searchBar {
  width: 35rem;
}

#searchButton {
  position: absolute;
  top: 88px;
  left: 460px;
}

/* INPUT */

#searchForm {
  text-align: center;
}

input,
textarea {
  caret-color: var(--quinaryColor);
  text-align: left;
  margin-top: 30px;
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

input::placeholder {
  color: var(--primaryColor);
}

/* BUTTON */

#searchButton {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(
    rgba(179, 132, 201, 0.84),
    rgba(57, 31, 91, 0.84) 50%
  );
  border-radius: 42px;
  border-width: 0;
  box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,
    rgba(179, 132, 201, 0.4) 0 8px 12px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 0.04em;
  line-height: 16px;
  margin: 0;
  padding: 18px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,
    rgba(255, 255, 255, 0.2) 0 0 12px, rgba(57, 31, 91, 0.6) 1px 1px 4px,
    rgba(57, 31, 91, 0.32) 4px 4px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  margin: auto;
}

#searchButton:hover {
  background-image: linear-gradient(#b384c9, #391f5b 50%);
}

/* FAQ */

.faqH2 {
  color: var(--quinaryColor);
  font-size: bold;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.accordion-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.accordion {
  background-color: #9ba4b5;
  color: var(--tertiaryColor);
  cursor: pointer;
  padding: 18px;
  width: 80%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-content: space-between;
  flex-wrap: wrap; */
  font-family: "Prompt", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.active,
.accordion:hover {
  background-color: var(--quinaryColor);
}

.panel p {
  color: var(--secondaryColor);
  text-align: center;
}

.panel {
  padding: 0 18px;
  background-color: #b7b7b7;
  overflow: hidden;
  display: block;
  width: 80%;
  transition: max-height 0.2s ease-out;
  font-weight: bold;
  font-size: 20px;
}

#faq {
  background-color: var(--tertiaryColor);
  padding-top: 50px;
  padding-bottom: 50px;
}

.hidden {
  display: none;
}

/* CONTACTS */

#contactForm {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}

::placeholder {
  font-family: "Prompt", sans-serif;
}

#contact {
  background-color: var(--quaternaryColor);
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
}

.pContact {
  color: var(--tertiaryColor);
  padding-top: 1rem;
}

#contact a {
  position: relative;
  top: 1.4em;
  padding: 10px 16px;
  background-color: var(--primaryColor);
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Prompt", sans-serif;
  font-weight: bold;
  text-decoration: none;
}

#contactButton:hover {
  background-color: var(--tertiaryColor);
  color: #000000;
  font-weight: bold;
}

/* Credits */

#credits {
  background: rgb(92, 70, 156);
  background: radial-gradient(
    circle,
    rgba(92, 70, 156, 1) 0%,
    rgba(20, 33, 61, 1) 100%
  );
  text-align: center;
}

#creditsDiv {
  padding-bottom: 1em;
}

#credits h2 {
  color: var(--tertiaryColor);
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Prompt";
}

#credits p {
  color: var(--tertiaryColor);
}

#credits a {
  text-decoration: none;
  color: var(--tertiaryColor);
}

/* FOOTER */

footer {
  margin-top: auto;
  text-align: center;
  background: rgb(92, 70, 156);
  background: radial-gradient(
    circle,
    rgba(92, 70, 156, 1) 0%,
    rgba(20, 33, 61, 1) 100%
  );
  z-index: 0;
  color: var(--tertiaryColor);
  border-top: 1px solid var(--primaryColor);
}

/* Media Query */

@media only screen and (max-width: 1000px) {
  #Albums,
  #Singles,
  #Avatar {
    display: block;
    padding-bottom: 2em;
  }

  #Albums h4,
  #Singles h4,
  #Avatar h4 {
    padding-bottom: 10px;
  }

  #resultWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 0.8fr 0.8fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Avatar Avatar Avatar Avatar Avatar"
      "Albums Albums Albums Albums Albums"
      "Singles Singles Singles Singles Singles";
    text-align: center;
    background-color: transparent;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
}

@media only screen and (min-width: 1000px) {
  #home {
    min-height: 115svh;
  }

  .Titles {
    display: none;
  }
}

@media only screen and (max-width: 1750px) {
  #btnScrollToTop {
    left: 94%;
  }
}
@media only screen and (max-width: 1000px) {
  #btnScrollToTop {
    left: 90%;
  }
}
@media only screen and (max-width: 800px) {
  #btnScrollToTop {
    left: 88%;
  }
}
